.header {
  background-color: #81a969; /* Dark blue background */
  color: #da1884; /* White text color */
}

.contact-info {
  font-size: 12px;
  display: flex;
  justify-content: space-between; /* Ensures text and icons are on opposite sides */
  align-items: center;
}

.social-icon {
  color: white;
  font-size: 20px;
  margin-left: 15px; /* Space between icons */
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #da1884; /* Hover effect in the primary color */
}
@media (max-width: 768px) {
  .contact-info {
    justify-content: space-between; /* Ensure space between text and icons */
    align-items: center; /* Vertically center items */
    width: 100%; /* Ensure the container takes full width */
  }

  .contact-info h6 {
    font-size: 12px; /* Optional: Adjust font size for smaller screens */
    margin: 0; /* Remove margin */
  }

  .text-md-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; /* Add space between icons */
  }

  .social-icon {
    font-size: 13px; /* Slightly smaller icons for phones */
  }
}